.main-navigation {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;
    padding-top: 125px;
    border-radius: 0 0 50% 0;

    background: #555;    
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-50%, -100%);
    opacity: 0;

    transition: transform .7s cubic-bezier(0.77,0.2,0.05,1.0),
                border-radius 1s linear;

    &-items {

    }

    &-item {
        padding: 10px 0;
        font-size: 22px;
    }    
}

.nav-is-open {
    .main-navigation {        
        border-radius: 0;
        transform: none;
        opacity: 1;
    }
}